.App {
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.header{
  background-color:#1965b1;
}

.main-section{
background-color: #e6f3ff;
}

.appTitle{
  background-size: 32px 32px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0%;
}

.postTitle{
  height: 65px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0%;
}





/* ListCategory */

.category-list {
 text-align:  center;
  display: block;
}



.category-list ul
{
    position: absolute;
    background-color:#1965b1;
    padding: 20px;
}

.category-list ul li {
  background-color:#1965b1;
  margin: 5px;
}


.post-navbar{
  background-color:#1965b1;
}
.post-list {
  width: 100%;
  margin: 17px;
  padding: 3px;
  list-style-type: none;
  text-align: left;
}
.post-list-item {
  background: white;
  display: inline;

}
.post-details {
  border-radius: 4px;
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.comment-details {
  border-radius: 4px;
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.comment-list-item {
  background: white;
  display: inline;

}

.comment{
  margin: 15px;
  padding: 5px;
  border: #1965b1;
  border-radius: 20%;
}
@media (min-width: 600px) {
  .category-list-item {
    margin: 20px;
    border-radius: 4px;
  }
}




