.App {
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.header{
  background-color:#1965b1;
}

.appTitle{
  background-size: 32px 32px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0%;
}

.postTitle{
  height: 65px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0%;
}

.addComment {
  
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  font-size: 22px;
  font-weight: 300;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.postFormTitle{
  text-align: left;
}

.postInputFiled{
  width:500px;
}
.post-data {
  display: flex;
}

.post-container h3 {
  text-align: center;
}

.subNavHeader{
  background-color: #e6f3ff;
  border: 2px solid #c3d2e0;
}
.homeNavigation{
  padding-bottom:20px; 
}
/* sub header*/
.create-new-post{
  text-align: left;
  padding-left: 10px;
  width:900px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropDown{
  margin-top: 25px;
  width:175px;
}
.createComment{
  margin-top:10px;
  text-align: left;
  margin-bottom:18px;
  width: 950px;
}
.dropDownComment{
  
  margin-top: 17px;
  margin-bottom: 10px;
  
}
/* ListCategory */

.category-list {
 text-align:  center;
  display: block;
}

.category-list ul
{
    position: absolute;
    padding: 20px;
}

.category-list ul li {
  margin: 5px;
}


.post-navbar{
  background-color:#1965b1;
}
.post{
  background-color: #e6f3ff;
  border-left: 2px solid #c3d2e0;
  border-right: 2px solid #c3d2e0;
  border-bottom: 2px solid #c3d2e0;
  padding: 5px;
}
.post-list {
  width: 100%;
  list-style-type: none;
  text-align: left;
  
}
.post-list-item {
  background: white;
  display: inline;

}
.post-details {
  border-radius: 4px;
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentSort{
  display: inline;
  background-color: #1965b1;
  border-left: 2px solid #c3d2e0;
  border-right: 2px solid #c3d2e0;
  padding: 5px;
}

.sorting-dropdown {
  margin-left: 25px;
  color: #007bff;
  font-family: sans-serif;
  font-size: 17px;
}
.comment-details {
  border-radius: 4px;
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.comment-list-item {
  background: white;
  display: inline;

}

.commentList{
  background-color: #e6f3ff;
  border-left: 2px solid #c3d2e0;
  border-right: 2px solid #c3d2e0;
  border-bottom: 2px solid #c3d2e0;
}
.comment{
  margin: 15px;
  padding: 5px;
  border: #1965b1;
  border-radius: 20%;
}
@media (min-width: 600px) {
  .category-list-item {
    margin: 20px;
    border-radius: 4px;
  }
}




